<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="./src/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body>
  <div id="main">
    <h1>ooops</h1>
    <div id="container">
      <p>something went wrong...<p>
      <p>would you like to go <a href="./">back</a>?</p>
    </div>
  </div>

</body>
</html>