<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="./src/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body>
  <div id="main">
    <h1><%= title %></h1>
    <div id="container">
      <!-- This element's contents will be replaced with your component. -->
    </div>
  </div>
<script type="text/javascript" src="./lib/ZeroClipboard.Core.min.js"></script>
<script type="text/javascript">
  var postUrl = <%-JSON.stringify(postUrl)%>
  // window.postUrl = postUrl
  // var client = new ZeroClipboard( document.getElementById("fatbutton") );
  // console.log(client)
  // client.on( "ready", function( readyEvent ) {
  //  console.log( "ZeroClipboard SWF is ready!" );

  //   client.on( "aftercopy", function( event ) {
  //     // `this` === `client`
  //     // `event.target` === the element that was clicked
  //     event.target.style.display = "none";
  //     console.log("Copied text to clipboard: " + event.data["text/plain"] );
  //   });
  // });
</script>
<script type="text/javascript" src="./dist/js/bundle.js"></script>

</body>
</html>