<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link href='//fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="./src/css/style.css">
</head>

<body>
  <div id="main">
    <h1>Short.ly</h1>
    <div id="container">
      <!-- This element's contents will be replaced with your component. -->
    </div>
  </div>

<script type="text/javascript" src="./dist/js/bundle.js"></script>

</body>
</html>